<template>
  <v-card>
    <v-col align="center">
      <v-avatar size="128">
        <img
            v-bind:src="avatar"
            alt="John"
        >
      </v-avatar>
      <v-card-text align="center">
        {{ name }}
        <a v-bind:href="link"
           target="_blank">{{ link }}</a>
      </v-card-text>
    </v-col>
  </v-card>
</template>

<script>
export default {
  name: "CreatorInfo",
  props: {
    name: String,
    avatar: String,
    link: String
  }
}
</script>