<template>
  <v-card class="ma-5" outlined>
    <v-card-title>
      {{ name }}
    </v-card-title>
    <v-card-text>
      <div class="text--primary">
        {{ description }}
      </div>
      <v-chip-group v-if="keywords.length>0" column>
        <v-chip v-for="(tag,index) of keywords" v-bind:key="index" label disabled>{{ tag }}</v-chip>
      </v-chip-group>
    </v-card-text>
    <v-card-actions class="pl-4 pb-5">
      <v-btn text outlined @click="selectPackage(name)">
        Owner Info
      </v-btn>
    </v-card-actions>
    <v-spacer/>
  </v-card>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import CreatorInfoComponent from "@/components/CreatorInfoComponent.vue";

export default {
  name: "PackageCard",
  props: {
    name: String,
    description: String,
    keywords: Array
  },
  components: {CreatorInfoComponent},
  methods: {
    async selectPackage(name) {
      const pkg = this.$store.state.packages.find(pkg => pkg.name === name);
      await this.$dialog.show(CreatorInfoComponent, {
        width: 200,
        showClose: false,
        name: pkg.owner.name,
        avatar: pkg.owner.avatar,
        link: pkg.owner.link
      })
    }
  },
  computed: {}
}
</script>

<style scoped>

</style>