<template>
  <v-pagination
      v-if="$store.state.pagesCount>1"
      v-model="page"
      class="my-4"
      :length="$store.state.pagesCount"
      :total-visible="7"
  ></v-pagination>
</template>

<script>
export default {
  name: "Pagination",
  computed: {
    page: {
      get() {
        return this.$store.state.page
      },
      set(v) {
        this.$store.dispatch("searchPackages", {query: this.$store.state.query, page: v});
      }
    }
  }
}
</script>

<style scoped>

</style>