<template>
  <v-responsive class="pl-6 pr-6 ml-6 mr-6 mt-6 mb-0 pt-6 pb-0" fluid>
    <v-row justify="center">
      <v-col class="v-col-max-width">
        <br/>
        <br/>
        <v-text-field placeholder="search all of npm"
                      outlined
                      v-bind:hint="$store.state.loading?'loading...':''"
                      v-model="packageNameInput">
        </v-text-field>
      </v-col>
    </v-row>
  </v-responsive>
</template>

<script>
export default {
  name: "Search",
  computed: {
    packageNameInput: {
      get() {
        return this.$store.state.query
      },
      set(v) {
        this.$store.dispatch("searchPackagesDebounce", v);
      }
    }
  }
}
</script>

<style scoped>
.v-col-max-width {
  max-width: 640px;
}
</style>