<template>
  <v-app>
    <v-responsive>
      <SearchComponent/>

      <v-container class="v-cont-max-width">
        <PackageCardComponent v-for="(item,index) of $store.state.packages" v-bind:key="index" v-bind="item"/>
      </v-container>

      <PaginationComponent/>

    </v-responsive>
  </v-app>
</template>

<script>

import {mapActions} from "vuex";
import PackageCardComponent from "@/components/PackageCardComponent.vue";
import SearchComponent from "@/components/SearchComponent.vue";
import PaginationComponent from "@/components/PaginationComponent.vue";

export default {
  name: 'App',
  methods: {...mapActions(["searchPackages"])},
  components: {PackageCardComponent, SearchComponent, PaginationComponent},
  mounted() {
    this.searchPackages({query: this.$route.params.query, page: parseInt(this.$route.params.page, 10)});
  },
  watch: {
    $route(to) {
      this.searchPackages({query: to.params.query, page: parseInt(to.params.page, 10)});
    }
  },
};
</script>

<style scoped>
.v-cont-max-width {
  max-width: 640px;
}

</style>
